<div class="header" ng-controller="HeaderCtrl as vm">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 text-center">
            <img src="../../bigdata-search/assets/images/logo.png" alt="BigDataSearch" class="header-img" />
        </div>
        <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
            <div class="row">
                <div class="col-md-12">
                    <form name="searchForm" ng-submit="vm.search()">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-8 pull-left">
                                <div class="input-group text-left">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <input type="text" class="form-control rounded"
                                           placeholder="Pressione enter para pesquisar..." title="Procurando algo?" id="inputGroup"
                                           ng-model="vm.headerModel.hashtag" />
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-2 pull-left">
                                <div class="text-left">
                                    <input type="number" placeholder="Qtd itens..." ng-model="vm.headerModel.count" min="0" max="50" class="form-control" style="display: inline;" />
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-2 pull-left">
                                <div class="input-group text-left">
                                    <input ng-disabled="!vm.headerModel.hashtag" type="submit" class="form-control btn btn-primary" />
                                </div>
                            </div>
                        </div>                        
                    </form>
                </div>                
            </div>            
        </div>
    </div>
</div>